// Font family
$font-base: 	'Outfit', sans-serif;
$font-hedding:	'Outfit', sans-serif;
$font-body: 	'Outfit', sans-serif;

// Colors
$body-color:		#999999;
$primary:				#FF2222;
$secondary:				#091c3a;
$white:					#ffffff;
$gray-1: 				#e8e7e7; 	// bg light
$gray-2: 				#dfdfdf;
$gray-3: 				#999999; 	// body-text
$gray-4: 				#f8f9fa;
$gray-5: 				#3a4957;
$gray-6: 				#293745;
$gray-7: 				#1d2936;
$gray-8: 				#333333; 	// Hedding color
$gray-9: 				#18191c; 	// bg color
$black:  				#000000;
$success:				#0abb0a;
$danger:				#f52626;

$border-color: 	#dddddd;
$border-color-2: #383838;
$border-color-3: #ebebeb;

$box-shadow: 0 1px 2px rgba($black, 0.1);

// For button and input border radius
$border-radius: 0px;
